<div class="d-flex">
  <div>
    <p>
      {{
        this.currentDataService.getCurrentWeatherData()?.time
          | date : "EEEE, MMMM d, y"
      }}
    </p>
    <app-quote />
  </div>
  <div>
    <img
      [src]="
        '../../../assets/img/weather/' +
        getWeatherIcon(
          this.currentDataService.getCurrentWeatherData()?.weather_code!,
          this.currentDataService.getCurrentWeatherData()?.is_day!
        )
      "
      alt="weather icon"
    />
  </div>
</div>
<div class="row">
  <div class="col">
    <app-weather-param
      [paramName]="'Temperature'"
      [paramVal]="
        this.currentDataService.getCurrentWeatherData()?.temperature_2m!
      "
      [paramUnit]="
        this.currentDataService.getCurrentWeatherUnits()?.temperature_2m!
      "
    />
    <app-weather-param
      [paramName]="'Apparent temperature'"
      [paramVal]="
        this.currentDataService.getCurrentWeatherData()?.apparent_temperature!
      "
      [paramUnit]="
        this.currentDataService.getCurrentWeatherUnits()?.apparent_temperature!
      "
    />
  </div>
  <div class="col">
    <app-weather-param
      [paramName]="'Precipitation'"
      [paramVal]="
        this.currentDataService.getCurrentWeatherData()?.precipitation!
      "
      [paramUnit]="
        this.currentDataService.getCurrentWeatherUnits()?.precipitation!
      "
    />
    <app-weather-param
      [paramName]="'Pressure'"
      [paramVal]="
        this.currentDataService.getCurrentWeatherData()?.surface_pressure!
      "
      [paramUnit]="
        this.currentDataService.getCurrentWeatherUnits()?.surface_pressure!
      "
    />
  </div>
  <div class="col">
    <app-weather-param
      [paramName]="'Wind speed'"
      [paramVal]="
        this.currentDataService.getCurrentWeatherData()?.wind_speed_10m!
      "
      [paramUnit]="
        this.currentDataService.getCurrentWeatherUnits()?.wind_speed_10m!
      "
      [paramValMax]="
        this.currentDataService.getCurrentWeatherData()?.wind_gusts_10m!
      "
    />
    <app-wind-direction-param
      [paramName]="'Wind direction'"
      [paramVal]="
        this.currentDataService.getCurrentWeatherData()?.wind_direction_10m!
      "
    />
  </div>
</div>

<!-- <div>
  
  <p>{{ this.randomQuoteService.getRandomQuote()?.quote }}</p>
  <p>{{ this.randomQuoteService.getRandomQuote()?.author }}</p>
  <p>
    date:
    <span>{{
      this.currentDataService.getCurrentWeatherData()?.time
        | date : "EEEE, MMMM d, y"
    }}</span>
  </p>
  <p>
    temperature:
    <span
      >{{
        this.currentDataService.getCurrentWeatherData()?.temperature_2m
      }} </span
    ><span>{{
      this.currentDataService.getCurrentWeatherUnits()?.temperature_2m
    }}</span>
  </p>
  <p>
    apparent temperature:
    <span>{{
      this.currentDataService.getCurrentWeatherData()?.apparent_temperature
    }}</span
    ><span>{{
      this.currentDataService.getCurrentWeatherUnits()?.apparent_temperature
    }}</span>
  </p>
  <p>
    relative humidity:
    <span>{{
      this.currentDataService.getCurrentWeatherData()?.relative_humidity_2m
    }}</span
    ><span>{{
      this.currentDataService.getCurrentWeatherUnits()?.relative_humidity_2m
    }}</span>
  </p>
  <p>
    precipitation:
    <span>{{
      this.currentDataService.getCurrentWeatherData()?.precipitation
    }}</span
    ><span>{{
      this.currentDataService.getCurrentWeatherUnits()?.precipitation
    }}</span>
  </p>
  <p>
    cloud cover:
    <span>{{
      this.currentDataService.getCurrentWeatherData()?.cloud_cover
    }}</span
    ><span>{{
      this.currentDataService.getCurrentWeatherUnits()?.cloud_cover
    }}</span>
  </p>
  <p>
    surface pressure:
    <span>{{
      this.currentDataService.getCurrentWeatherData()?.surface_pressure
    }}</span
    ><span>{{
      this.currentDataService.getCurrentWeatherUnits()?.surface_pressure
    }}</span>
  </p>
  <p>
    wind speed:
    <span>{{
      this.currentDataService.getCurrentWeatherData()?.wind_speed_10m
    }}</span
    ><span>{{
      this.currentDataService.getCurrentWeatherUnits()?.wind_speed_10m
    }}</span>
  </p>
  <p>
    wind gusts:
    <span>{{
      this.currentDataService.getCurrentWeatherData()?.wind_gusts_10m
    }}</span
    ><span>{{
      this.currentDataService.getCurrentWeatherUnits()?.wind_gusts_10m
    }}</span>
  </p>
  <p>
    wind direction:
    <span
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-arrow-up"
        viewBox="0 0 16 16"
        [style.transform]="
          'rotate(' +
          this.currentDataService.getCurrentWeatherData()?.wind_direction_10m +
          'deg)'
        "
      >
        <path
          fill-rule="evenodd"
          d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"
        />
      </svg>
    </span>
  </p>
  <p>
    weather code:
    <span>{{
      this.currentDataService.getCurrentWeatherData()?.weather_code
    }}</span>
  </p>
</div> -->
