<div class="d-flex justify-content-between py-3 position-relative">
  @for(day of this.dailyWeatherService.getDailyWeatherData()!; track $index ) {
  @if($index !== 0){
  <div class="">
    <app-day-weather-view
      [dayData]="day"
      [dayUnits]="this.dailyWeatherService.getDailyWeatherUnits()!"
      [showDetails]="this.showDetails()"
      [index]="$index"
    />
  </div>
  } }
  <i
    class="bi bi-arrow-down-short position-absolute"
    [ngClass]="this.showDetails() ? 'down' : ''"
    (click)="setShowDetails()"
  ></i>
</div>
