i.bi-arrow-down-short::before {
  transition: all 500ms linear;
}

i.bi-arrow-down-short.down::before {
  transform: rotate(180deg);
}

i {
  color: white;
}

i:hover {
  cursor: pointer;
}

i.bi-arrow-down-short {
  right: -22px;
  font-size: 20px;
}
