<p>data:</p>
<p>
  temp: {{ currentDataService.getCurrentWeatherData()?.temperature_2m
  }}{{ currentDataService.getCurrentWeatherUnits()?.temperature_2m }}
</p>
<p>
  humid: {{ currentDataService.getCurrentWeatherData()?.relative_humidity_2m }}
  {{ currentDataService.getCurrentWeatherUnits()?.relative_humidity_2m }}
</p>

<p>Daily</p>
@for(day of dailyDataService.getDailyWeatherData(); track
dailyDataService.getDailyWeatherData().time){
<p>{{ day.time }}</p>
<p>
  {{ day.temperature_2m_max
  }}{{ dailyDataService.getDailyWeatherUnits()?.temperature_2m_max }}
</p>
}
