@if(this.randomQuoteService.getRandomQuote() &&
this.currentDataService.getCurrentWeatherData()) {
<div class="mx-auto mt-3 main-widget-container">
  <div class="current-widget-container">
    <app-current-weather-view />
  </div>
  <div
    [@transition]="
      this.hourViewService.hourlyViewData().hourlyView ? 'end' : 'start'
    "
  >
    @if(this.hourViewService.hourlyViewData().hourlyView) {
    <div>
      <app-hourly-weather-view />
    </div>
    }
  </div>
  <div
    [@transition]="
      this.hourViewService.hourlyViewData().hourlyView ? 'start' : 'end'
    "
  >
    @if(!this.hourViewService.hourlyViewData().hourlyView) {
    <div class="daily-widget-container">
      <app-daily-weather-view />
    </div>
    }
  </div>
</div>

}
