@import "bootstrap-icons/font/bootstrap-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-border-radius: 0.5rem;
  --quote-font: "Overpass", sans-serif;

  --date-font-size: clamp(1.5rem, 0.6479rem + 1.5023vw, 2rem);
}

* {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  font-family: "Roboto", sans-serif !important;
}

.blur {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
}
